@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(../assets/login\ usuario.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh;
    width: 100vw;
}

main {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100vh;
    width: 100vw;
}

#boxgeral {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 70%;
    height: 80%;
    border-radius: 50px;
    background-image: linear-gradient(to bottom left, rgba(255,0,0,0), rgba(255, 255, 255, 0.452));
}

#titulo {
    display: flex;
    width: 100%;
    height: 15%;
    align-items: center;
    justify-content: center;
}

p {
    display: flex;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    font-size: xx-large;
    margin-bottom: -0.2%;
    margin-top: 5%;
    padding: 10%;
}

input {
    width: 35%;
    padding: 1.7%;
    border: none;
    border-radius: 15px;
    margin-bottom: 1%;
    font-family: 'Josefin Sans', sans-serif;
    background-color: rgba(255, 255, 255, 0.281);
    outline: none;
    transition: background-color 0.2s;
    color: gray;
    box-shadow: 0px 2.5px 2.5px rgba(27, 27, 27, 0.562);
} 

input:focus {
    background-color: white;
    transition: background-color 0.7s;
}

input:focus::placeholder {
    width: 98%;
    padding: 2px;
    border-bottom: 2px solid #fc7c04;
    color: rgba(87, 86, 86, 0.705);
}

input::placeholder {
    color: rgba(44, 44, 44, 0.911);; 
}

#botao {
    display: flex;
    width: 100%;
    height: 15%;
    align-items: center;
    justify-content: center;
}

a {
    width: 25%;
    padding: 1.5%;
    display: inline-block;
    border: none;
    border-radius: 15px;
    margin-bottom: 1%;
    font-family: 'Josefin Sans', sans-serif;
    outline: none;
    color: white;
    cursor: pointer;
    transition: background-color 0.2s;
    font-size: large;
    box-shadow: 0px 2.5px 2.5px rgba(27, 27, 27, 0.562);
    text-decoration: none;
    display: flex;
    background-color: #fc7c04;  
    align-items: center;
    justify-content: center;
}

div {
    margin-bottom: 2.5%;
}

.espaco {
    margin-right: 2.5%;
    margin-left: 13.5%;
}

.progress-container {
    display: flex;
    width: 73%;
    height: 30px;
    background-color: rgba(34, 34, 34, 0.356);
    align-items: center;
    border-radius: 50px;
}

.progress-bar {
    width: 0;
    height: 100%;
    background-image: linear-gradient(to left, rgba(192, 147, 252, 0.582), #fc7c04);
    transition: all 0.5s ease-in-out;
    height: 100%;
    border-radius: 50px;
    margin: 0;
}

.step {
    display: none;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    max-width: 500px;
}
