@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(../assets/login\ usuario.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh;
    width: 100vw;
    font-size: 16px;
}

main {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100vh;
    width: 100%;
}

#box1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    width: 90%;
    max-width: 40%;
    height: 80%; 
    border-radius: 50px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 900;
    font-size: 3rem;
    background-color: white;
    text-align: center;
}

#imgbox1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
    height: auto;
}

p {
    display: flex;
    margin-bottom: 17px;
}
#p1 {
    color: #6c4c94;
    text-align: left;
    font-size: 2.5rem;
}
#p2 {
    color: #6c4c94;
    text-align: start;
    font-size: 2.5rem;
}
#p3 {
    color: #fc7c04;
    text-align: start;
    font-size: 2.5rem;
}

#box2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 25%;
    height: 80%;
    border-radius: 50px;
    background-image: linear-gradient(to bottom left, rgba(255,0,0,0), rgba(255, 255, 255, 0.452));
}

#p4 {
    display: flex;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 30px;
    margin-bottom: -0.2%;
}
#p5 {
    display: flex;
    color: white;
    font-family: 'Lobster Two', cursive;
    font-size: 26px;
    margin-bottom: 12%;
}

#inputs {
    display: flex;
    width: 100%;
    height: 20%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

input {
    width: 80%;
    padding: 4%;
    border: none;
    border-radius: 15px;
    margin-bottom: 10px;
    font-family: 'Josefin Sans', sans-serif;
    background-color: rgba(255, 255, 255, 0.281);
    outline: none;
    color: gray;
    box-shadow: 0px 2.5px 2.5px rgba(27, 27, 27, 0.562);
} 

input:focus {
    background-color: white;
    transition: background-color 0.7s;
}

input:focus::placeholder {
    width: 98%;
    padding: 2px;
    border-bottom: 2px solid #fc7c04;
    color: rgba(87, 86, 86, 0.705);
}

input::placeholder {
    color: #ccc; 
}

#email {
    display: flex;
    margin-bottom: 15px;
}

#senha {
    display: flex;
    margin-bottom: 5px;
}

#as {
    display: flex;
    width: 100%;
    height: 20%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

a {
    width: 80%;
    padding: 3.5%;
    display: inline-block;
    border: none;
    border-radius: 15px;
    margin-bottom: 10px;
    font-family: 'Josefin Sans', sans-serif;
    outline: none;
    color: white;
    cursor: pointer;
    transition: background-color 0.2s;
    font-size: 18px;
    box-shadow: 0px 2.5px 2.5px rgba(27, 27, 27, 0.562);
    text-decoration: none;
}

#login {
    display: flex;
    background-color: #fc7c04;
    margin-bottom: 15px;
    align-items: center;
    justify-content: center;
}

#criarconta {
    display: flex;
    background-color: #6c4c94;
    margin-bottom: 10px;
    align-items: center;
    justify-content: center;
}

#login:active {
    background-color: #fc7c04;
    transform: scale(0.99);
}

#criarconta:active {
    background-color: #6c4c94;
    transform: scale(0.99);
}

#imgbox2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

#paw {
    display: flex;
    width: 90%;
}

#pawpetsimg{
    width: 90%;
    height: auto;
}